.dropzone-attachment {
  height: 140px;
  border: 4px dashed #e1e1e1;
}

.word-break-all {
  word-break: break-all;
}

.modal-md-s-lg {
  @media (min-width: 768px) {
    width: 700px;
    max-width: auto;
  }
}

.modal-header-wrap,
.modal-footer-wrap {
  padding-left: 20px;
  padding-right: 20px;
  border-color: $success !important;
}
.customized-modal {
  .form-label {
    margin-bottom: 0.25rem;
  }
}
.modal-body-content-scroll {
  @media (max-height: 550px) {
    max-height: 50vh;
  }
  @media (min-height: 551px) {
    max-height: calc(100vh - 400px);
  }
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.text-underline {
  text-decoration: underline !important;
}
